{% extends "base.html" %}

{% block title %} {{ participant.get_full_name|safe }} | 個人資料 {% endblock %}

{% block content%}
<h1 class="w3-text-teal">個人資料</h1>
<br>
<div class="w3-row">
    <div class="w3-col s6 w3-left">
        <p>姓名</p>
    </div>
    <div class="w3-col s6 w3-left">
        <p>{{ participant.get_full_name }}</p>
    </div>
</div>
<div class="w3-row">
    <div class="w3-col s6 w3-left">
        <p>性別</p>
    </div>
    <div class="w3-col s6 w3-left">
        <p>{{ participant.get_sex_display }}</p>
    </div>
</div>
{% for name, value in profile.get_fields.items %}
<div class="w3-row">
    <div class="w3-col s6 w3-left">
        <p>{{ name|safe }}</p>
    </div>
    <div class="w3-col s6 w3-left">
        <p>{{ value|safe }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}