{% extends "base.html" %}

{% block title %} {{ profile.user.last_name}}{{ profile.user.first_name}} | 個人資料 {% endblock %}

{% block content%}
<br>
<h1>個人資料</h1>
<br>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">姓名</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.user.last_name }}{{ profile.user.first_name }}</p>
    </div>
</div>
<!-- 共通欄位 -->
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">身分</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ identity }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">性別</span>
    </div>
    <div class="col-md-6">
        {% if profile.sex == 0 %}
        <p class="profile-text">女</p>
        {% else %}
        <p class="profile-text">男</p>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">電子信箱</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.user.email }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">連絡電話</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.phone }}</p>
    </div>
</div>

<!-- 特有欄位 -->
<!-- type = ((0, "業界專家"), (1, "學生代表"), (2, "校外老師"), (3, "系助理"), (4, "系上老師")) -->
{% if profile.user.type == 0 %}
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">任職公司</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.company }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">職稱</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.title }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">辦公室電話</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.telephone }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">聯絡地址</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.address }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">銀行(郵局)帳號</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.bank_account }}</p>
    </div>
</div>
{% elif profile.user.type == 1 %}
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">學號</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.student_id }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">學制</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.school_system }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">年級</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.grade }}</p>
    </div>
</div>
{% elif profile.user.type == 2 %}
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">任職學校</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.school }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">系所</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.department }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">職稱</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.title }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">辦公室電話</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.telephone }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">聯絡地址</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.address }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">銀行(郵局)帳號</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.bank_account }}</p>
    </div>
</div>
{% elif profile.user.type == 3 %}
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">辦公室電話</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.telephone }}</p>
    </div>
</div>
{% elif profile.user.type == 4 %}
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">職級</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.bank_account }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">辦公室電話</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ profile.telephone }}</p>
    </div>
</div>
{% endif %}
{% endblock %}