{% extends "base.html" %}

{% block title %}人員列表{% endblock %}

{% block content %}
<br>
<h1 class="w3-center" style="color: #444444;">人員列表</h1>
<br>
<div class="w3-responsive">
    <table class="w3-table w3-table-all w3-hoverable w3-centered">
        <tr class="w3-light-grey" style="font-size: 20px;">
            <th width=15% scope="col">姓名</th>
            <th width=10% scope="col">性別</th>
            <th width=10% scope="col">身分</th>
            <th width=15% scope="col">手機</th>
            <th width=20% scope="col">電子信箱</th>
            <th width=10% scope="col">查看</th>
            <th width=10% scope="col">刪除</th>
        </tr>
        <tbody>
        {% for participant in participant_list %}
        <tr style="font-size: 17px;" scope="row">
        <td>
            {{ participant.get_full_name|safe }}
        </td>
        <td>{{ participant.get_sex_display|safe }}</td>
        <td>{{ participant.get_identity_display|safe }}</td>
        <td>{{ participant.phone|safe }}</td>
        <td>{{ participant.email|safe }}</td>
        <td>
            <a class="btn btn-info" href="{% url 'user-profile' participant.id %}">詳細資料</a>
        </td>
        <td>
            <a class="btn btn-danger" href="{% url 'user-delete' participant.id %}">刪除</a>
        </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}