{% extends "base.html" %}

{% block title %} 編輯討論事項 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<br>
<h1>編輯討論事項</h1>
<br>
<br>
<form action="{% url 'edit-discussion' meeting.id %}" method="POST">
    {% csrf_token %}
    {% crispy formset helper %}
    <div class="row">
        <div class="form-actions col-md-6">
            <input type="submit" name="submit" value="更新" class="btn btn-primary" id="submit-save">
        </div>
        <div class="col-md-6">
            <a class="btn btn-info" href="{% url 'meeting-detail' meeting.id %}">完成</a>
        </div>
    </div>
</form>
{% endblock %}