<!DOCTYPE html>
<html>

    <body>
        <br>

        <h2>請勿回覆此信件</h2>
        <h3>會議名稱：{{ meeting.name }}</h3>
        <h3>會議種類：{{ meeting.get_meeting_type }}</h3>

        <p>您好，會議將於 {{ formatted_date }} 在{{ meeting.location }}舉行</p>

        <h3>主席聯絡資訊</h3>
        電子信箱：{{ meeting.chairman.email }}<br>
        連絡電話：{{ meeting.chairman.phone }}<br>

        {% comment %} <h3><a href="{% url  %}">詳細會議資訊</a> </h3> {% endcomment %}

        <br>
        <br>
        <span>高雄大學會議管理系統開發人員</span><br>
        <span>敬上</span>
    </body>

</html>