{% extends "base.html" %}

{% block title %} 會議資料 {% endblock %}

{% block content%}
<br>
<h1>會議資料</h1>
<br>
<br>
<div class="row">
    <div class="col-md-6">
        <span class="info-text">會議名稱</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ meeting.name|safe }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="info-text">種類</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ meeting.get_type|safe }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="info-text">時間</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ meeting.date }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="info-text">地點</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ meeting.location|safe }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="info-text">主席</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ meeting.chairman|safe }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="info-text">記錄人員</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ meeting.minutes_taker|safe }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="info-text">與會人員</span>
    </div>
    <div class="col-md-6">
        <p class="info-text"><a href="{% url 'meeting-participants' meeting.id %}">人員名單</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="info-text">主席致詞</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ meeting.speech }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="info-text">出席名單</span>
    </div>
    <div class="col-md-6">
        {% if meeting.meeting_begins %}
        <p class="info-text"><a href="{% url 'edit-attendance' meeting.id %}">點此觀看名單</a></p>
        {% else %}
        <p class="info-text"><a href="{% url 'meeting-not-begin' %}">點此觀看名單</a></p>
        {% endif %}
    </div>
</div>
<a class="btn btn-info" style="margin-bottom:10px" href="{% url 'meeting-delete' meeting.id %}">刪除會議</a>

<br>
<h1>報告事項</h1>
<br>
<br>

{% for announcement in announcements %}
<div class="row">
    <div class="col-md-6">
        <span class="info-text">內容</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ announcement.content }}</p>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-info" href="{% url 'edit-announcement' meeting.id %}">編輯</a>
    </div>
</div>

<br>
<br>
<h1>討論事項</h1>
<br>
<br>

{% for discussion in discussions %}
<div class="row">
    <div class="col-md-6">
        <span class="info-text">案由</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ discussion.topic }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <span class="info-text">說明</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ discussion.description }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <span class="info-text">決議</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ discussion.resolution }}</p>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-info" href="{% url 'edit-discussion' meeting.id %}">編輯</a>
    </div>
</div>

<br>
<br>
<h1>臨時動議</h1>
<br>
<br>

{% for extempore_motion in extempore_motions %}
<div class="row">
    <div class="col-md-6">
        <span class="info-text">提案人</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ extempore_motion.proposer }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <span class="info-text">內容</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ extempore_motion.content }}</p>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-info" href="{% url 'edit-extemporeMotion' meeting.id %}">編輯</a>
    </div>
</div>
{% endblock %}