{% extends "base.html" %}

{% block title %} 會議資料 {% endblock %}

{% block content%}
<br>
<h1>會議資料</h1>
<br>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">會議名稱</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ meeting.name|safe }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">種類</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ meeting.type|safe }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">時間</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ meeting.date }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">地點</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ meeting.location|safe }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">主席</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ meeting.chairman|safe }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span class="profile-text">記錄人員</span>
    </div>
    <div class="col-md-6">
        <p class="profile-text">{{ meeting.minutes_taker|safe }}</p>
    </div>
</div>
{% endblock %}