{% extends "base.html" %}

{% block title %} 首頁 {% endblock %}

{% block content%}
<br>
<h1>會議列表</h1>
<br>
<br>
<table class="table-container">
    <thead>
        <tr>
            <th>
                <h1>會議名稱</h1>
            </th>
            <th>
                <h1>種類</h1>
            </th>
            <th>
                <h1>時間</h1>
            </th>
            <th>
                <h1>地點</h1>
            </th>
            <th>
                <h1>主席</h1>
            </th>
            <th>
                <h1>記錄人員</h1>
            </th>
            <th>
                <h1>編輯</h1>
            </th>
            <th>
                <h1>出席名單</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for meeting in meeting_list %}
        <tr>
            <td>
                <a href="{% url 'meeting-detail' meeting.id %}">{{ meeting.name|safe }}</a>
            </td>
            <td>{{ meeting.get_type|safe }}</td>
            <td>{{ meeting.date }}</td>
            <td>{{ meeting.location|safe }}</td>
            <td>{{ meeting.chairman|safe }}</td>
            <td>{{ meeting.minutes_taker|safe }}</td>
            <td>
                <a class="btn btn-info" href="{% url 'edit-meeting' meeting.id %}">編輯</a>
            </td>
            <td>
                {% if meeting.meeting_begins %}
                <a class="btn btn-info" href="{% url 'edit-attendance' meeting.id %}">查看</a>
                {% else %}
                <a class="btn btn-info" href="{% url 'meeting-not-begin' %}">查看</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}