{% extends "base.html" %}

{% block title %} 當日與會人員 {% endblock %}

{% block content%}
<br>
<h1>當日與會人員</h1>
<br>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">姓名</th>
                <th scope="col">電子信箱</th>
                <td scope="col">身分</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <tr>
                <th scope="row">
                    <a href="{% url 'user-info' participant.id %}">{{ participant.get_full_name }}</a>
                </th>
                <td>{{ participant.email|safe }}</td>
                <td>{{ participant.get_identity|safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}