/* 字體 */
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/* 基本設定 */
/* 基本配色參考：https://userstyles.org/styles/147272/hackmd-dark-theme */
body {
  /* 討論一下要用哪個顏色 */
  background-color: #1e1e1e;
  /* background-color: #1c1e21; */
  /* Noto Sans TC 思源黑體 */
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span,
small,
label,
th,
td {
  color: #ddd;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  font-weight: normal;
}

a {
  color: #17a2b8;
}

/* button */

.btn {
  background-color: #6a6a6a;
  color: #eee;
  border-color: #555;
}

.text-btn {
  border: none;
  background-color: #333;
  float: left;
}

.text-btn:hover {
  color: #ddd;
}

/* checkboxselectmultiple */
.checkboxes-field {
  max-height: 150px;
  overflow-y: auto;
}

.checkboxes-field div {
  min-width: 150px;
}

/* navbar */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close*/
}

.dropdown-menu > a:focus,
.dropdown-menu > a:hover {
  background-color: #555555;
  color: #eee;
}

.dropdown-menu {
  background-color: #222;
  border: 1px solid #555;
}

.dropdown-item {
  color: #eee;
  text-align: center;
}

/* form */
#login-form .asteriskField {
  display: none;
}

.asteriskField {
  color: red;
}

.help-text {
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #ddd;
}

/* #hint_id_password1 {
  margin-left: 27%;
} */

#hint_id_school_system {
  margin-left: -35px;
}

.center-field {
  margin: auto;
  display: block;
  width: 80%;
}

#edit-attendance-form .select {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  width: 40%;
}

#edit-request-form .select {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  width: 40%;
}

/* alert */
/* 未處理，只是測試用 */
.alert-custom {
  background-color: #6089d5;
  color: #fff;
}

.close {
  color: black;
}

/* 簡介字體 */
.info-text {
  font-size: 30px;
}

/* 日歷 */
/* 修改自https://www.huiwenteo.com/normal/2018/07/24/django-calendar.html */
.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr,
.calendar td {
  color: #ddd;
  border: 1px solid #626262;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  background-color: #333;
  /* background-color: #222; */
  width: 200px;
  height: 125px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.day {
  text-align: right;
  font-size: 16px;
  margin-right: 5px;
  margin-top: -70px;
}

.meeting-link {
  font-size: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn .calendar-btn {
  outline: none;
  background-color: #6a6a6a;
  color: #eee;
  border-color: #555;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}

/* table */
/* 修改自https://colorlib.com/wp/template/css-table-16/ */
.custom-table {
  min-width: 900px;
}
.custom-table thead tr,
.custom-table thead th {
  background-color: #222;
  border-top: none;
  border-bottom: none !important;
  color: #ddd;
}
.custom-table tbody th,
.custom-table tbody td {
  color: #ddd;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
}
.custom-table tbody th small,
.custom-table tbody td small {
  font-size: 15px;
  color: #b3b3b3;
  font-weight: 400;
}
.custom-table tbody tr:not(.spacer) {
  border-radius: 7px;
  overflow: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.custom-table tbody tr:not(.spacer):hover {
  -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
}
.custom-table tbody tr th,
.custom-table tbody tr td {
  background: #25252b;
  border: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.custom-table tbody tr th a,
.custom-table tbody tr td a {
  color: #ddd;
}
.custom-table tbody tr th:first-child,
.custom-table tbody tr td:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.custom-table tbody tr th:last-child,
.custom-table tbody tr td:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.custom-table tbody tr.spacer td {
  padding: 0 !important;
  height: 3px;
  border-radius: 0 !important;
  background: transparent !important;
}
.custom-table tbody tr.active th,
.custom-table tbody tr.active td,
.custom-table tbody tr:hover th,
.custom-table tbody tr:hover td {
  color: #ddd;
  background: #2e2e36;
}
.custom-table tbody tr.active th a,
.custom-table tbody tr.active td a,
.custom-table tbody tr:hover th a,
.custom-table tbody tr:hover td a {
  color: #ddd;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.image .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.image .row::after {
  content: "";
  clear: both;
  display: table;
}

/* tooltips */
/* 修改自https://www.w3schools.com/css/css_tooltip.asp */
.tooltips {
  color: #ddd;
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted #ddd; */
}

.tooltips .tooltiptext {
  visibility: hidden;
  font-size: 20px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  /* background-color: #626262; */
  background-color: #737373;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltips .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #626262 transparent;
}

.tooltips:hover .tooltiptext {
  visibility: visible;
}

/* accordion and card */
/* 修改自https://codepen.io/kbsnr02/pen/LYNMyzP */
.accordion {
  margin: 40px 0;
}
.accordion .item {
  border: none;
  margin-bottom: 50px;
  background: none;
}
.t-p {
  color: #ddd;
  padding: 40px 30px 0px 30px;
}
.accordion .item .item-header h2 button.btn.btn-link {
  background: #333435;
  color: #ddd;
  border-radius: 0px;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 2.5;
  text-decoration: none;
}
.accordion .item .item-header {
  border-bottom: none;
  background: transparent;
  padding: 0px;
  margin: 2px;
}

.accordion .item .item-header h2 button {
  color: #ddd;
  font-size: 20px;
  padding: 15px;
  display: block;
  width: 100%;
  text-align: left;
}

.accordion .item .item-header h2 i {
  float: right;
  font-size: 30px;
  color: #eca300;
  background-color: #333435;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

button.btn.btn-link.collapsed i {
  transform: rotate(0deg);
}

button.btn.btn-link i {
  transform: rotate(180deg);
  transition: 0.5s;
}
