{% extends "base.html" %}

{% block title %} {{ info.user.get_full_name|safe }} | 個人資料 {% endblock %}

{% block content%}
<br>
<h1>個人資料</h1>
<br>
<br>
<div class="row">
    <div class="col-md-6">
        <span class="info-text">姓名</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ info.user.get_full_name }}</p>
    </div>
    {% for name, value in info.get_all_fields.items %}
    <div class="col-md-6">
        <span class="info-text">{{ name|safe }}</span>
    </div>
    <div class="col-md-6">
        <p class="info-text">{{ value|safe }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}