{% extends "base.html" %}

{% block title %}人員列表{% endblock %}

{% block content %}
<br>
<h1>人員列表</h1>
<br>
<div class="table-responsive">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">姓名</th>
                <th scope="col">電子信箱</th>
                <td scope="col">身分</th>
                <td scope="col">編輯</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participant_list %}
            <tr>
                <th scope="row">
                    <a href="{% url 'user-profile' participant.profile.id %}">{{ participant.get_full_name }}</a>
                </th>

                <td>{{ participant.email|safe }}</td>
                <td>{{ participant.get_identity|safe }}</td>
                <td scope="col">
                    <a class="btn btn-info" href="{% url 'edit-profile' participant.profile.id %}">編輯</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}