{% extends "base.html" %}

{% block title %}選擇您的身分{% endblock %}

{% load static %}

{% block content %}
<br>
<h1>選擇您的身分</h1>
<br>

{% csrf_token %}
<div class="image row">
    <div class="image column tooltips">
        <a href="{% url 'register' %}?identity=0"><img src="{% static 'image/expert.png' %}" class="img-fluid"
                alt="expert"></a>
        <span class="tooltiptext">業界專家</span>
    </div>
    <div class="image column tooltips">
        <a href="{% url 'register' %}?identity=1"><img src="{% static 'image/student.png' %}" class="img-fluid"
                alt="student"></a>
        <span class="tooltiptext">學生代表</span>
    </div>
    <div class="image column tooltips">
        <a href="{% url 'register' %}?identity=2"><img src="{% static 'image/teacher.png' %}" class="img-fluid"
                alt="teacher"></a>
        <span class="tooltiptext">校外老師</span>
    </div>
</div>

<div class="image row" style="padding:50px">
    <div class="image column col-sm-6 col-md-6 tooltips">
        <a href="{% url 'register' %}?identity=3"><img src="{% static 'image/assistant.png' %}" class="img-fluid"
                alt="assistant"></a>
        <span class="tooltiptext">系助理</span>
    </div>
    <div class="image column col-sm-6 col-md-6 tooltips">
        <a href="{% url 'register' %}?identity=4"><img src="{% static 'image/professor.png' %}" class="img-fluid"
                alt="professor"></a>
        <span class="tooltiptext">系上老師</span>
    </div>
</div>
{% endblock %}