{% extends "base.html" %}

{% block title %} 封存會議 {% endblock %}

{% block content%}
<br>
<h1 class="w3-center" style="color: #444444;">封存會議</h1>
<br>
<div class="w3-responsive">
    <table class=" w3-table w3-table-all w3-hoverable w3-centered">
        <thead>
            <tr style="font-size: 19px;" >
                <th width="25%" scope="col">會議名稱</th>
                <th width="15%" scope="col">時間</th>
                <th width="13%" scope="col">地點</th>
                <th width="11%" scope="col">主席</th>
                <th width="11%" scope="col">記錄人員</th>
                {% if user.identity == 3 %}
                <th width="15%" scope="col">查看</th>
                <th width="10%" scope="col">結果</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for archived_meeting in meeting_list %}
            <tr style="font-size: 17px;" scope="row">
                <td>
                    {{ archived_meeting.name|safe }}
                    <small class="d-block">{{ archived_meeting.get_type_display|safe }}</small>
                </td>
                <td>{{ archived_meeting.date }}</td>
                <td>
                    {{ archived_meeting.location|safe }}
                </td>
                <td><a
                        href="{% url 'user-profile' archived_meeting.chairman.id %}">{{ archived_meeting.chairman|safe }}</a>
                </td>
                <td><a
                        href="{% url 'user-profile' archived_meeting.minutes_taker.id %}">{{ archived_meeting.minutes_taker|safe }}</a>
                </td>
                {% if user.identity == 3 %}
                <td>
                    <a class="btn btn-info"  href="{% url 'meeting-detail' archived_meeting.id %}">詳細會議資料</a>
                </td>
                <td>
                    <a class="btn btn-info" href="#">寄出</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}