<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SAO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">首頁</a>
            </li>
            <!-- 會議的選項 -->
            <li class="nav-item dropdown active">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    會議
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'meeting-create' %}">建立新會議</a>
                    <a class="dropdown-item" href="{% url 'meeting-list' %}">觀看會議列表</a>
                </div>
                <!-- 人員的選項 -->
            <li class="nav-item dropdown active">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    人員
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'user-list' %}">觀看人員列表</a>
                </div>
            </li>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.last_name }}{{ user.first_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-menu-md-right"
                    aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'user-profile' user.profile.id %}">查看個人資料</a>
                    <a class="dropdown-item" href="{% url 'edit-profile' user.profile.id %}"><b>編輯個人資料</b></a>
                    <a class="dropdown-item" href="{% url 'logout' %}"><b>登出</b></a>
                    {% comment %} <a class="dropdown-item" href="/user_settings/?theme=dark"><b>黑暗模式</b></a>
                    <a class="dropdown-item" href="/user_settings/?theme=light"><b>淺色模式</b></a> {% endcomment %}
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">登入</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'register' %}">註冊</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>